// $base-color: #282927;
// $light-base-color: #426B64;
// $reverse-base-color: #BAFF6B;
// $plain-color: #95DB46;
// $reverse-plain-color: #C646DB;
// $accent-color: #5B8F1F;
// $contrast-color: #7D118F;
// $ligh-contrast-color: #8e479b;
// $background-light: #e9f0e2;
// $background-dark: #8BD6A2;

$base-color: #373B3E;
$accent-color: #ED254D;
$secondary-color: #C0BEC8;
$contrast-color: #644FEF;
$background-color-dark: #110728;
$active-background: #dfdfdf;
$pasive-background: #FAFAFA;
$disabled-color: #BFBFC1;