<div class="content-container">
  <div class="metrics-container">
    <div class="metric-container drop-shadow-light">
      <div class="metric-info">
        <span class="value">67</span>
        <span class="label">Customers</span>
      </div>
      <div class="metric-logo">
        <i class="fa-solid fa-users"></i>
      </div>
    </div>
    <div class="metric-container drop-shadow-light">
      <div class="metric-info">
        <span class="value">255</span>
        <span class="label">Orders</span>
      </div>
      <div class="metric-logo">
        <i class="fa-solid fa-receipt"></i>
      </div>
    </div>
    <div class="metric-container drop-shadow-light">
      <div class="metric-info">
        <span class="value">12</span>
        <span class="label">Active Drones</span>
      </div>
      <div class="metric-logo">
        <i class="fa-solid fa-gears"></i>
      </div>
    </div>
    <div class="metric-container drop-shadow-light">
      <div class="metric-info">
        <span class="value">32</span>
        <span class="label">Daily Orders</span>
      </div>
      <div class="metric-logo">
        <i class="fa-regular fa-square-check"></i>
      </div>
    </div>
  </div>

  <div class="tables-container">
    <div class="table-container orders-container drop-shadow-light">
      <table class="info-table">
        <tr class="header-row">
          <th>Status</th>
          <th>Id</th>
          <th>Address</th>
          <th>Control</th>
        </tr>
        <tr>
          <td>On Route</td>
          <td>#123456</td>
          <td>Brown Street, London</td>
          <td class="clickable">Cancel</td>
        </tr>
      </table>
    </div>
    <div class="table-container clients-container drop-shadow-light">
      <table class="info-table">
        <tr class="header-row">
          <th></th>
          <th>Name</th>
          <th>More</th>
        </tr>
        <tr>
          <td class="profile-img">
            <img src="../../../../../assets/images/blank-profile-picture.jpg" />
          </td>
          <td>John Doe</td>
          <td class="clickable">Info</td>
        </tr>
      </table>
    </div>
  </div>
</div>
