@import "../../../../../assets/styles/constants.scss";

.metrics-container {
  display: flex;
  padding: 1rem 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.metric-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
  border: 1px solid $active-background;
  border-radius: 15px;
  min-width: 220px;
  transition: 150ms ease-in-out;


  .metric-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-right: 1rem;
    min-width: 100px;
    height: 60px;

    .value {
      color: $accent-color;
      font-size: 2rem;
      font-weight: 700;
      transition: 150ms ease-in-out;
    }

    .label {
      font-size: 0.9rem;
    }
  }

  .metric-logo {
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: $accent-color;
    transition: 150ms ease-in-out;
  }

}

.metric-container:hover {
  background-color: $pasive-background;

  .metric-info {
    .value {
      color: $contrast-color;
    }
  }

  .metric-logo {
    color: $contrast-color;
  }
}

.tables-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 4rem;
  min-height: 55vh;

  .table-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    // background-color: $pasive-background;
    border: 1px solid $active-background;
    height: 55vh;
    border-radius: 15px;
    padding-top: 1rem;
  }

  .orders-container {
    width: 80%;
    margin-right: 2rem;
  }

  .clients-container {
    width: 40%;
    margin-left: 2rem;
  }

  .info-table {
    width: 100%;
    text-align: center;
    border-radius: 15px;
    padding: 1rem 0.5rem;
    border-collapse: collapse;

    .header-row {
      border-bottom: 1px solid $contrast-color;

      th {
        padding-bottom: 0.4rem;
      }
    }

    td {
      font-size: 1rem;
      padding: 1rem 0;
      transition: 150ms ease-in-out;
    }

    tr {
      transition: 150ms ease-in-out;
    }


    tr:hover {
      background-color: $pasive-background;

      td {
        color: $accent-color
      }
    }
  }



}

.drop-shadow-light {
  box-shadow: 2px 2px 3px $active-background;
}