<div class="navigation-sidebar">
  <ul>
    <li class="active clickable icon-label-pair">
      <span class="icon-label">Overview</span>
      <i class="fa-solid fa-file-invoice"></i>
    </li>
    <li class="clickable icon-label-pair">
      <span class="icon-label">Orders</span>
      <i class="fa-solid fa-cash-register"></i>
    </li>
    <li class="clickable icon-label-pair">
      <span class="icon-label">History</span>
      <i class="fa-solid fa-clock-rotate-left"></i>
    </li>
    <li class="clickable icon-label-pair">
      <span class="icon-label">Account</span>
      <i class="fa-solid fa-house-user"></i>
    </li>
  </ul>
</div>
