<navigation-bar></navigation-bar>

<section class="top-bar">
  <div class="elements flex-list-row">
    <div class="intro-text accent-text untouchable">Restaurant Name</div>
    <div class="interactible clickable icon">
      <i class="fa-regular fa-bell"></i>
    </div>
    <div class="interactible clickable icon">
      <i class="fa-solid fa-right-from-bracket"></i>
    </div>
  </div>
</section>

<div class="content-container">
  <router-outlet></router-outlet>
</div>

<section class="drone-sidebar drop-shadow-light">
  <div class="title-bar">
    <div class="title accent-text untouchable">Drones</div>
    <div class="controls clickable">
      <i (click)="refreshDashData()" class="fa-solid fa-arrows-rotate"></i>
    </div>
  </div>
  <div class="drone-list-container">
    <div class="drone-labels list-row untouchable">
      <div class="id-col col">Id</div>
      <div class="status-col col">Status</div>
      <div class="info-col col">Info</div>
    </div>
    <div *ngFor="let drone of droneList" class="drone-details list-row">
      <div class="id-col col">d-{{ drone.id }}</div>
      <div class="status-col col">{{ drone.status }}</div>
      <div class="info-col col"><i class="fa-solid fa-circle-info"></i></div>
    </div>
  </div>
</section>
